name: Primary Workflow

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Your AAA Workflow Steps
        run: echo ("hello")

