name: Primary Workflow

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Add demo-trigger label
        uses: actions/checkout@v2
        
      - name: Add label
        run: |
          gh pr label add ${{ github.event.number }} demo-trigger
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
