name: Secondary Workflow

on:
  pull_request:
    branches: [main, master, develop, 'releases/**', 'feat/**', 'fix/**']
  push:
    branches: [main]
    paths:
      - .github/workflows/secondary.yml
  workflow_run:
    workflows: ["Primary Workflow"]
    types:
      - completed
  workflow_dispatch:
# on:
#   workflow_run:
#     workflows: ["Primary Workflow"]
#     types:
#       - completed

jobs:
  build:
    if: ${{ contains( github.event.pull_request.labels.*.name, 'demo-trigger') }}
    runs-on: ubuntu-latest
    steps:
      - name: Your BBB Workflow Steps
        run: echo ("Secondary workflow")
        # Add your steps here