name: Secondary Workflow

on:
  pull_request:
    types: [opened, synchronize, reopened]

# on:
#   workflow_run:
#     workflows: ["Primary Workflow"]
#     types:
#       - completed

jobs:
  build:
    if: contains(github.event.issue.labels.*.name, 'demo-trigger')
    runs-on: ubuntu-latest
    steps:
      - name: Your BBB Workflow Steps
        run: echo ("Secondary workflow")
        # Add your steps here
        